@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.togetherjs-cursor {
	backface-visibiilty: hidden;
	transform: translate3d(0,0,0);
}

html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#editors {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 45px;
	position: relative;
	> * {
		padding:0;
		height: 100%;
		&:before {
			background: rgba(0,0,0,0.5);
			padding: 2px 8px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 5;
			font-size: 10px;
			color: #fff;
		}
		> * {
			width: 100%;
			height: 100%;
		}
	}
}
#html {
	&:before {
		content: 'HTML';
	}
}
#scss {
	&:before {
		content: 'SCSS';
	}
}
#javascript {
	&:before {
		content: 'JavaScript';
	}
}

.title {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	vertical-align: middle;
	font-size: 24px;
	line-height: 45px;
	.btn {
		margin-left: 1em;
	}
}
.settings {
	text-align: right;
	position: absolute;
	z-index: 100;
	top: 0;
	padding: 0 10px;
	width: 100%;
	height: 45px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	line-height: 45px;
	h1 {
		position: absolute;
		top: 0;
		left: 10px;
		text-align: left;
	}
	select {
		display: inline-block;
		width: auto;
		margin: 0 10px 0 5px;
		font-size: 12px;
		height: 24px;
	}
	.checkbox-inline {
		line-height: 1.5;
	}
}